* {
    box-sizing: border-box;
}
body {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main";
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px 25px;
    width: 100%;
}
main {
    grid-area: main;
}
.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    width: 100%;
}
h1 { 
    font-size: 20px;
    color: rgb(83, 83, 83); 
}
.search{
    grid-area: search;
    text-align: right;
    width: 90%;
}
#searchbar{
    height: 30px;
    width: 100%;  
}
.card {
    display: flex;
    align-items: center;
    border: 1px solid rgb(99, 99, 99);
    border-radius: 5px;
    padding: 1%; 
}
.avatar {
    width: 25%;
    border-radius: 50%;
}
.text-container {
    margin-left: 10px;
}
.email, .address {
    color: rgb(110, 110, 110);
}
.cardContainer-column {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}
.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}
.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}
.modal-forward{
    position: absolute;
    right: 10px;
    top: 200px;
    cursor: pointer;
    font-size: 20px;
}
.modal-back{
    position: absolute;
    left: 10px;
    top: 200px;
    cursor: pointer;
    font-size: 20px;
}
.hidden {
    display: none;
}

@media (min-width: 1024px) {
    .grid-container {
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      grid-template-rows: repeat(4, 180px);
}   
} 